<form id="selectedItem">                         
    <h1>Item Brief</h1>
    
    <div class="form-group">
        <label for="newItemParent" >Item Parent</label>
        <select id="newItemParent" class="form-control"
            ng-model="selectedItem.parent"
            ng-options="item as item.title for item in items track by item.id"
            ng-init="item.index = $index">
            <option value="">no parent</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="title" >Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title"
               ng-model="selectedItem.title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description"
               ng-model="selectedItem.description">
    </div>

    <h1>Item Properties</h1>
    
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Property name</th>
                <th>Property type</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            
            <tr >
                <td>
                    <input type="text" class="form-control" id="propertyName" 
                           placeholder="Description"
                           ng-model="selectedItem.propertyName">
                </td>
                <td>
                    <select id="propertyType" class="form-control"
                            ng-model="selectedItem.propertyType">
                        <option value=""></option>
                        <option value="text">text</option>
                        <option value="selection">selection</option>
                        <option value="textarea">textarea</option>
                    </select> 
                </td>
                <td>
                    <button type="button" class="btn btn-default" 
                            ng-click="deleteProperty( property )">
                        <img src="img/add.png" alt="" style="width:18px;" >
                    </button>
                </td>
            </tr>
            
            <tr ng-repeat="property in selectedItem.properties | filter : {active: true}"
                ng-init="property.index = $index">
                <td>{{ property.name }}</td>
                <td>{{ property.type }}</td>
                <td>
                    <button type="button" class="btn btn-default" 
                            ng-click="deleteProperty( property )">
                        <img src="img/delete.png" alt="" style="width:18px;" >
                    </button>
                </td>
            </tr>
        </tbody>
        
    </table>
    
    <div class="form-group">
        <label for="propertyAction" >Property Action</label>
        <select id="propertyAction" class="form-control"
                ng-model="selectedItem.propertyAction">
            <option value=""></option>
            <option value="new">Create New Property</option>
            <option value="copy">Copy Property</option>
        </select> 
    </div>
    
    <div class="form-group" ng-show="selectedItem.propertyAction == 'new'">
        <label for="newPropertyType" >New Property Type</label>
        <select id="newPropertyType" class="form-control"
                ng-model="selectedItem.newPropertyType">
            <option value=""></option>
            <option value="text">text</option>
            <option value="selection">selection</option>
            <option value="textarea">textarea</option>
        </select> 
    </div>
    
    <div class="form-group" ng-show="selectedItem.propertyAction == 'copy'">
        <label for="copyFrom" >Copy From</label>
        <select id="copyFrom" class="form-control"
                ng-model="selectedItem.copyFrom">
            <option value=""></option>
            <option value="item">Copy Item</option>
            <option value="itemProperty">Copy Item Property</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default" 
            ng-click="addItem()" >Add Item</button>

    <!--button type="submit" class="btn btn-default" 
            ng-show="showUpdateBtn"
            ng-click="updateItem()" >Update Item</button-->
</form>