<div class="form-group">
    <label for="propertyName" >Property Name</label>
    <input 
           type="text" 
           class="form-control" 
           id="propertyName" 
           placeholder="Property Name"
           ng-model="propertyName">
</div>

<br/>

<!--select 
        class="form-control"
        id="propertyValueType">
    <option value="text">text</option>
    <option value="number">number</option>
    <option value="textarea">textarea</option>
    <option value="select">select</option>
</select>

<div class="form-group">
    <label for="propertyValue">Property Value</label>
    <input type="text" 
           class="form-control" 
           id="propertyValue" 
           placeholder="Property Value"
           ng-model="">
</div-->