<div id="docView" class="container">

    <div class="row">

        <img class="col-xs-12 col-sm-6" alt="{{ data.selectedItem.title }}" ng-src="{{ data.selectedItem.icon }}" ng-show="data.selectedItem.icon" />

        <img class="col-xs-12 col-sm-6" alt="{{ data.selectedItem.title }}" ng-src="img/img-mock-up.png" ng-show="!data.selectedItem.icon" />

        <h1 class="col-sm-6">{{ data.selectedItem.title }}</h1>

        <p class="col-sm-6">{{ data.selectedItem.description }}</p>

        <h2 class=" col-xs-12" ng-show="data.selectedItem.properties.length > 0">Inventory</h2>

        <div class="col-xs-4" 
           ng-repeat="property in data.selectedItem.properties track by $index">
            <a href="#{{ property.itemId | item:this:'title' }}" class="thumbnail" style="position:relative;" ng-click="selectItem( property.itemId | item:this )">

                <img alt="{{ property.itemId | item:this:'title' }}" style="width:100%;" ng-src="{{ property.itemId | item:this:'icon' }}" ng-show="property.itemId | item:this:'icon'" />

                <img alt="{{ property.itemId | item:this:'title' }}" style="width:100%;" ng-src="img/img-mock-up.png" ng-hide="property.itemId | item:this:'icon'" />

                <div style="position: absolute; top: 4px; right: 4px; width:30%; height: 30%;background:#D1D2D4; padding: 3px;">
                    <img src="img/link-2.png" alt="{{item.title}}" style="width:100%;">
                </div>

            </a>
        </div>
        
        <!--
        
        <h2 class=" col-xs-12" ng-show="data.selectedItem.classes.length > 1">Classes</h2>

        <div class="col-xs-4" ng-repeat="item in items | isItemClass:this track by $index">
            <a href="#{{ item.title }}" class="thumbnail" style="position:relative;" ng-click="selectItem( item )">

                <img alt="{{ item.title }}" style="width:100%;" ng-src="{{ item.icon }}" ng-show="item.icon" />

                <img alt="{{ item.title }}" style="width:100%;" ng-src="img/img-mock-up.png" ng-hide="item.icon" />

                <div style="position: absolute; top: 4px; right: 4px; width:30%; height: 30%;background:#D1D2D4; padding: 3px;">
                    <img src="img/link-2.png" alt="{{item.title}}" style="width:100%;">
                </div>

            </a>
        </div>
        
        -->

    </div>

</div>
