<div class="col-xs-4 col-sm-2" 
   ng-init="item.index = $index"
   ng-repeat="item in items | filter : itemSettings.filter | orderBy : itemSettings.orderBy : itemSettins.reverseSort | limitTo : itemSettings.rowLimit track by $index" >
    <a href="" class="thumbnail" style="position:relative;" 
      ng-click="selectItem( item )">
       
        <img alt="{{ item.title }}" style="width:100%;" 
        data-ng-src="{{ item.icon }}"  
        ng-show="item.icon"/>
        
        <img alt="{{ item.title }}" style="width:100%;" 
        ng-src="img/img-mock-up.png"  
        ng-show="!item.icon"/>
        
        <div style="position: absolute; top: 4px; right: 4px; width:30%; height: 30%;background:#D1D2D4; padding: 3px;">
            <img src="img/link-2.png" alt="{{item.title}}" style="width:100%;">
        </div>
        
        <div class="thumbLabel ellipsis">{{ item.title }}</div>
        
    </a>
</div>

<script type="text/javascript">
    /*$(document).ready( function () {
        $('.ellipsis').dotdotdot({
            ellipsis: '... ',
            wrap: 'letter',
            watch: true
        });
    });*/
</script>
