<div class="col-xs-4 col-sm-2" 
   ng-repeat="item in items | filter : itemSettings.filter | limitTo : itemSettings.rowLimit | orderBy: 'title' : true" >
    <a href="#{{item.title}}" class="thumbnail" style="position:relative;" 
      ng-click="selectItem( item )">
       
        <img alt="{{ item.title }}" style="width:100%;" 
        ng-src="{{ item.icon }}"  
        ng-show="item.icon"/>
        
        <img alt="{{ item.title }}" style="width:100%;" 
        ng-src="img/img-mock-up.png"  
        ng-show="!item.icon"/>
        
        <div style="position: absolute; top: 4px; right: 4px; width:30%; height: 30%;background:#D1D2D4; padding: 3px;">
            <img src="img/link-2.png" alt="{{item.title}}" style="width:100%;">
        </div>
        
    </a>
</div>
